<div class="row">
	<div class="col-lg-6 col-lg-offset-4">
		<ul class="share-buttons">
		  <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Falif-bae.github.io&t=Ali%20Fawad's%20Blog" title="Share on Facebook" target="_blank"><img src="/img/Facebook.png"></a></li>
		  <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Falif-bae.github.io&text=Ali%20Fawad's%20Blog:%20http%3A%2F%2Falif-bae.github.io" target="_blank" title="Tweet"><img src="/img/Twitter.png"></a></li>
		  <li><a href="https://plus.google.com/share?url=http%3A%2F%2Falif-bae.github.io" target="_blank" title="Share on Google+"><img src="/img/Google+.png"></a></li>
		  <li><a href="http://www.tumblr.com/share?v=3&u=http%3A%2F%2Falif-bae.github.io&t=Ali%20Fawad's%20Blog&s=" target="_blank" title="Post to Tumblr"><img src="/img/Tumblr.png"></a></li>
		  <li><a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Falif-bae.github.io&description=" target="_blank" title="Pin it"><img src="/img/Pinterest.png"></a></li>
		  <li><a href="http://www.reddit.com/submit?url=http%3A%2F%2Falif-bae.github.io&title=Ali%20Fawad's%20Blog" target="_blank" title="Submit to Reddit"><img src="/img/Reddit.png"></a></li>
		  <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Falif-bae.github.io&title=Ali%20Fawad's%20Blog&summary=&source=http%3A%2F%2Falif-bae.github.io" target="_blank" title="Share on LinkedIn"><img src="/img/LinkedIn.png"></a></li>
		</ul>
	</div>
</div>
